.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #252525;
}
.progress {
  height: 4px;
  background: coral;
  width: 0%;
}
.container {
  display: flex;
  min-width: 950px;
  box-sizing: border-box;
  flex-direction: row;
  .SideBarWrap {
    display: flex;
  }
  .totalWrap {
    width: 85%;
    margin: 3% 13% 0% 5%;

    h1 {
      color: rgb(60, 60, 60);
      font-size: 29px;
      font-weight: 600;
    }

    h3 {
      margin-top: 0.5%;
      color: rgb(60, 60, 60);
      font-size: 16px;
      text-align: right;
      font-weight: 300;
      letter-spacing: 0.3px;
    }

    form {
      margin-top: 1.5%;
      .companyImage {
        position: relative;
        h2 {
          width: 200px;
        }
        h5 {
          margin-left: 17%;
          margin-bottom: 0.5%;
          margin-top: 1px;
          color: rgb(97, 97, 97);
          font-weight: 400;
          font-size: 13px;
        }
        img {
          position: absolute;
          bottom: 30%;
        }
      }
      .companyName {
        margin-top: 1%;
      }
      .companyInfo {
        h5 {
          margin-left: 10.4%;
          margin-top: 1px;
          color: rgb(97, 97, 97);
          font-weight: 400;
          font-size: 13px;
        }
      }

      select,
      input,
      textarea {
        padding: 7px 2px 7px 2px;
        box-sizing: border-box;
        border: 1.5px solid rgb(212, 212, 212);
        border-radius: 4px;
        font-size: 15px;
      }

      #companyURL {
        input {
          width: 300px;
          padding-left: 10px;
        }
      }

      #field {
        input {
          width: 60.4%;
          margin-bottom: 1.3px;
          padding-left: 10px;
        }
      }

      h4 {
        margin-left: 10.3%;
        font-weight: 400;
        margin-top: 2px;
        color: rgb(255, 88, 88);
      }

      .introduce {
        position: relative;
        height: 75px;
        margin-top: 1%;
        h2 {
          margin-top: 1%;
          vertical-align: top;
        }

        textarea {
          width: 89.7%;
          height: 60px;
          margin-right: 0;
          padding: 7px 60px 7px 10px;
          box-sizing: border-box;
        }

        p {
          position: absolute;
          bottom: 51px;
          right: 6px;
          color: rgb(131, 131, 131);

          &.over {
            color: rgb(255, 88, 88);
          }
        }
      }

      .detail {
        position: relative;
        margin-top: 1.2%;
        margin-bottom: 1.4%;

        h2 {
          display: block;
          width: auto;
        }

        textarea {
          width: 89.8%;
          height: 75px;
          margin-top: 0.5%;
          margin-left: 10.2%;
          padding-left: 10px;
        }

        p {
          position: absolute;
          bottom: 55px;
          right: 6px;
          color: rgb(131, 131, 131);
          &.over {
            color: rgb(255, 88, 88);
          }
          margin-left: 30%;
        }
      }

      .agree {
        display: inline-block;
        all: unset;
        input {
          width: auto;
          margin-right: 1%;
        }
        a {
          color: rgb(131, 131, 131);
        }
        label {
          margin-left: 34%;
        }
        h4 {
          text-align: left;
          margin-left: 40%;
        }
        text-align: center;
        &:hover {
          background-color: transparent;
          color: rgb(60, 60, 60);
        }
      }

      input[type='checkbox'] {
        -webkit-appearance: checkbox !important;
        -moz-appearance: checkbox !important;
        -ms-appearance: checkbox !important;
        -o-appearance: checkbox !important;
        appearance: checkbox !important;
      }

      input:focus::-webkit-input-placeholder {
        color: transparent;
      }

      textarea:focus::-webkit-input-placeholder {
        color: transparent;
      }
    }

    .btns {
      margin-top: 2%;
      margin-bottom: 10%;
      .btn {
        width: 90px;
        height: 40px;
        margin-right: 8%;
        margin-top: 2%;
        background-color: rgb(227, 227, 227);
        color: rgb(89, 89, 89);
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: #fe6d6a;
          color: white;
        }
      }
      text-align: center;
    }
  }
}
