.serveHomeContainer {
  width: 80%;
  margin-left: 2%;
  .bannerAd {
    margin: 0 auto;
    margin-top: 70px;
    width: 100%;
  }
  .companyIntroduceBtn {
    margin-left: 80%;
    margin-top: 50px;
    width: 150px;
    height: 30px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #cacaca9b;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    span {
      margin-right: 5px;
    }

    &:hover {
      background-color: #fe6d6a;
      color: white;
    }
  }
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    .title {
      font-size: 22px;
      .settingImg {
        margin-left: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .viewAllBtn {
      color: gray;
      cursor: pointer;
      &:hover {
        color: #fe6d6a;
      }
    }
  }
  .cardComponent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 60px;
    margin-top: 30px;
  }
  .zendesk {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #fe6d6a;
    }
  }
}
@media screen and (max-width: 1500px) {
  .serveHomeContainer {
    width: 75%;
  }
}
@media screen and (max-width: 1500px) {
  .cardComponent {
    width: 85%;
    margin: 40px auto;
  }
}
