.companyContainer {
  display: grid;
  grid-template-rows: 2fr 1fr;
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  box-shadow: 7px 7px 10px #cacaca9b;
  cursor: pointer;

  .companyImageBox {
    display: flex;
    .companyImage {
      width: 100%;
      object-fit: cover;
      border-radius: 30px 30px 0px 0px;
    }
  }
  .companyContentBox {
    display: grid;
    grid-template-rows: 1.2fr 2fr;
    height: 70px;
    padding: 15px;
    font-size: 15px;

    .companyName {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1.5px solid #aaaaaa;

      .name {
        font-weight: 600;
      }
      .comment {
        color: #959595;
        font-size: 13px;
      }
      &:hover {
        color: #fe6d6a;
      }
    }

    .companyIntro {
      display: flex;
      align-items: center;
      width: 200px;

      .intro {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        font-size: 13px;
        line-height: 1.2rem;
        overflow: hidden;

        .more {
          margin-left: 7px;
          color: #aaaaaa;
          font-size: 11px;
          font-weight: 600;
        }
      }
    }
  }
}
