.postDetail {
  .flexDiv {
    display: flex;
    .fontEmphasis {
      font-weight: 700;
      margin-right: 10px;
    }

    .fontEmphasisDiv {
      width: 80px;
    }

    .topDonwMargin {
      margin: 10px 0;
    }

    .main {
      width: 60vw;
      margin-left: 5vw;
      line-height: 1.2em;

      .category {
        font-size: 25px;
        font-weight: 700;
      }
      .imgAndBtnDiv {
        display: flex;
        justify-content: space-between;

        .img {
          width: 200px;
          height: 100px;
          border: 1px black solid;
        }

        .btnDiv {
          display: flex;
          align-items: center;
          height: 10px;
          transform: translateY(-1.5vh);
          transform: translateX(2vw);

          .divider {
            height: 12px;
            margin: 0 3px;
            border-left: 1px solid black;
          }
        }
      }
      .workField {
        display: flex;
      }

      .memberBenefit {
        display: flex;
      }

      .homepage {
        display: flex;
      }

      .address {
        display: flex;

        .EmailAndPhoneNumber {
          display: flex;

          .Email {
            cursor: pointer;
          }

          .toastDiv {
            border-radius: 5px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-2px);
            margin: 0 10px;
            color: white;
            background-color: rgb(86, 147, 207);
            animation: toastDiv 2s ease-out forwards;
          }

          @keyframes toastDiv {
            0% {
              transform: translateY(-1px);
            }
            12% {
              transform: translateY(-5px);
            }
            25% {
              transform: translateY(-1px);
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }

      .introduce {
        display: flex;
      }

      .commentDiv {
        background-color: rgba(128, 128, 128, 0.299);
        width: 850px;
        // height: 500px;
        display: flex;
        flex-direction: column;

        .commentDivTitle {
          margin: 15px;
          font-size: 17px;
          font-weight: 700;
          margin-left: 5%;
        }
      }

      .commentPageDiv {
        display: flex;
        justify-content: center;
        width: 600px;
        margin: 0 auto;

        .commentPageBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          margin: 10px;
          background-color: coral;
        }
      }
    }
  }
}
