.comment {
  border: 1px solid black;
  border-radius: 8px;
  width: 800px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .commentMarginDiv {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    width: 750px;

    .leftArea {
      width: 650px;

      .commentInfoDiv {
        display: flex;
        margin: 3px 5px;

        .whiter {
          font-weight: 700;
          margin-right: 25px;
        }
      }

      .commentContent {
        width: 100%;
        margin: 3px 5px;
        margin-bottom: 10px;
        color: gray;
        overflow: hidden;
      }

      .overText {
        outline: none;
        border-color: red;
        box-shadow: 0 0 5px red;
      }

      .letterCount {
        display: flex;
        justify-content: flex-end;

        // margin-bottom: 10px;

        .lockDiv {
          display: flex;
          justify-content: center;
          width: 30px;

          .lock {
            color: coral;
          }

          .lockOpen {
            color: gray;
            transform: translateX(2px);
          }
        }
      }
    }

    .rightArea {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 70px;

      .rightAreaBtnDiv {
        display: flex;
        align-items: center;

        .divider {
          height: 12px;
          margin: 0 3px;
          border-left: 1px solid black;
        }
      }
    }
  }
}
