.reply {
  border: 1px solid black;
  border-radius: 8px;
  width: 800px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .commentMarginDiv {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    width: 700px;
    .leftArea {
      width: 600px;

      .replyContent {
        display: flex;
        margin: 3px 5px;
      }

      .letterCount {
        display: flex;
        justify-content: flex-end;

        span {
          margin-right: 10px;
        }
      }
    }

    .rightArea {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
    }
  }
}
