.comment {
  border: 1px solid rgba(128, 128, 128, 0.356);
  border-radius: 8px;
  width: 800px;
  margin: 5px auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);

  .commentMarginDiv {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    width: 750px;

    .leftArea {
      width: 680px;
      position: relative;
    }

    .commentContent {
      width: 85%;
      margin: 3px 5px;
      overflow: hidden;
    }

    .overText {
      outline: none;
      border-color: red;
      box-shadow: 0 0 5px red;
      background-color: rgba(255, 0, 0, 0.16);
    }

    .letterCount {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      right: 0;
      bottom: 5px;

      .countLetter {
        color: gray;
      }

      .lockDiv {
        display: flex;
        justify-content: center;
        width: 30px;
        cursor: pointer;

        .lock {
          color: rgb(236, 118, 111);
          transform: translateY(-2px);
        }

        .lockOpen {
          color: gray;
          transform: translateX(2px) translateY(-2px);
        }
      }
    }
  }

  .rightArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;

    .submitBtn {
      color: gray;
      cursor: pointer;
    }
  }
}
