.companyListContainer {
  display: grid;
  grid-template-columns: 240px 1fr;
  .wrapper {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #252525;
  }
  .progress {
    height: 4px;
    background: coral;
    width: 0%;
  }

  .companyContainer {
    width: 100%;
    section {
      display: grid;
      grid-template-rows: minmax(min-content, 100px) 100px 7fr;
      padding: 60px 50px 30px 50px;

      .companyListContent {
        display: grid;
        align-content: space-between;

        .categoryName {
          font-weight: bold;
          font-size: 25px;

          &:hover {
            color: #fe6d6a;
          }
        }
        span {
          font-size: 14px;
          font-weight: 500;
        }
      }
      .categoryContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .textLink {
          color: inherit;
          text-decoration: inherit;
        }

        .companyIntroduceBtn {
          width: 150px;
          height: 30px;
          padding: 10px;
          border: 1px solid #f0f0f0;
          border-radius: 30px;
          box-shadow: 5px 5px 10px #cacaca9b;
          text-align: center;
          font-size: 15px;
          font-weight: 600;
          cursor: pointer;

          span {
            margin-right: 5px;
          }

          &:hover {
            background-color: #fe6d6a;
            color: white;
          }
        }
      }
      .companyList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        gap: 60px;
        margin-top: 30px;
      }

      .pagination {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 80px;

        .currentPage {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          padding: 10px;
          border-radius: 100%;
          background-color: #fe6d6a;
          color: white;
          font-size: 15px;
          cursor: pointer;
        }
        .page {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          padding: 10px;
          color: gray;
          font-size: 15px;
        }
      }
    }
  }
}
