@media screen and (max-width: 1100px) {
  .imgBox {
    display: none;
  }
}

.background {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #0000004d;
  text-align: center;

  .imgBox {
    width: 600px;
    height: 580px;
    box-shadow: -5px 5px 10px #4d4d4d9b;
    border-radius: 35px;
    img {
      height: 100%;
      object-fit: contain;
      border-radius: 35px;
    }
  }

  .content {
    position: relative;
    width: 440px;
    height: 580px;
    top: 0%;
    left: 0%;
    background-color: #ffffff;
    box-shadow: -5px 5px 10px #4d4d4d9b;
    border-radius: 35px;

    .cancelBtn {
      img {
        display: flex;
        position: absolute;
        width: 13px;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }
    }
    button {
      &:hover {
        font-weight: 600;
      }
    }
  }
}
