.memberReqMainElem {
  position: relative;
  border-radius: 10px;
  width: 250px;
  height: 180px;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.173);
  box-shadow: 5px 5px 10px rgb(202 202 202 / 61%);

  .memberReqMainElemCellDiv {
    margin: 20px 0 0 10px;
    .memberReqMainElemCell {
      margin: 3px;
    }
  }

  .reqBtnDiv {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;

    .reqBtn {
      border-radius: 10px;
      margin: 3px;
      width: 80px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .leftBtn {
      background-color: rgb(236, 118, 111);
      color: white;
    }

    .rightBtn {
      border: 1px rgba(128, 128, 128, 0.195) solid;
      box-shadow: 5px 5px 10px rgb(202 202 202 / 61%);
      cursor: pointer;
    }
  }
}

.representReqMainElem {
  position: relative;
  border-radius: 10px;
  width: 330px;
  height: 180px;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.173);
  box-shadow: 5px 5px 10px rgb(202 202 202 / 61%);

  .representReqMainElemCellDiv {
    margin: 20px 0 0 10px;
    .representReqMainElemCell {
      margin: 3px;
    }
  }

  .reqBtnDiv {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;

    .reqBtn {
      border-radius: 10px;
      margin: 3px;
      width: 80px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .leftBtn {
      background-color: rgb(236, 118, 111);
      color: white;
      cursor: pointer;
    }

    .rightBtn {
      border: 1px rgba(128, 128, 128, 0.195) solid;
      box-shadow: 5px 5px 10px rgb(202 202 202 / 61%);
      cursor: pointer;
    }
  }
}
