.header {
  display: flex;
  height: 45px;
  background-color: #252525;

  .menuBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .menu {
      display: flex;
      align-items: center;
      margin-right: 40px;

      .requestBtn,
      .loginBtn {
        width: 90px;
        height: 45px;
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          width: 90px;
          height: 42px;
          color: #fe6d6a;
          text-align: center;
          font-size: 15px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .userLogin {
        display: flex;
        .userName,
        .logOut {
          height: 45px;
          width: 90px;
          color: white;
          text-align: center;
          font-size: 15px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .clickedRequestBtn,
      .clickedLoginBtn {
        width: 90px;
        height: 42px;
        border-bottom: 2px solid #fe6d6a;
        color: #fe6d6a;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
