.carouselContainer {
  .bannerImg {
    width: 100%;
    height: 400px;
  }
}
.nextBtn {
  &:hover {
    background: url('https://cdn-icons-png.flaticon.com/512/8175/8175884.png');
  }
}
.nextArrow {
  background-color: coral;
}
