.reqpage {
  display: flex;

  .noPermission {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
    font-size: 20px;
  }

  .memberReqMain {
    .title {
      font-size: 30px;
    }
    .memberReqMainElemDiv {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;
      width: 1100px;

      .memberReqMainElem {
        position: relative;
        border: 1px solid black;
        border-radius: 10px;
        width: 250px;
        height: 180px;
        margin: 10px;

        .reqBtnDiv {
          display: flex;
          position: absolute;
          bottom: 10px;
          right: 10px;

          .reqBtn {
            border: 1px black solid;
            border-radius: 10px;
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .representReqMain {
    .title {
      font-size: 30px;
    }

    .representReqMainElemDiv {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;
      width: 1000px;

      .representReqMainElem {
        position: relative;
        border: 1px solid black;
        border-radius: 10px;
        width: 300px;
        height: 200px;
        margin: 10px;

        .reqBtnDiv {
          display: flex;
          position: absolute;
          bottom: 10px;
          right: 10px;

          .reqBtn {
            border: 1px black solid;
            border-radius: 10px;
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
