.loginContainer {
  padding: 70px 40px 40px 40px;
  text-align: start;

  .login {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #fe6d6a;
    color: #000000;
    font-size: 27px;
    font-weight: 400;
    cursor: default;
  }

  .loginFormBox {
    display: grid;
    margin-top: 80px;

    .label {
     margin-bottom: 5px;
     font-size: 13px;
    }

    .input {
      height: 20px;
      margin-bottom: 5px;
      border: 1px solid #dcdcdc;
      border-radius: 10px;
      padding: 10px;
      font-size: 14px;

      &:focus {
        border: 1px solid #fe6d6a;
        color: #fe6d6a;
      }
    }

    .emailBox {
      .input {
        width: 338px;
      }
    }

    .emailForm,
    .passwordForm {
      display: grid;

      .formatMessage {
        height: 10px;
        margin-bottom: 20px;
        .message {
          padding-left: 5px;
          color: #fe6d6a;
          font-size: 11px;
        }
      }
    }

    .loginBtn {
      height: 45px;
      margin-top: 30px;
      border-radius: 10px;
      background-color: #fe6d6a;
      color: white;
      text-align: center;
      font-size: 15px;
      cursor: pointer;
    }

    .joinContent {
      display: flex;
      justify-content: flex-end;
      margin-top: 12px;
      font-size: 13px;

      .goJoin {
        color: gray;
      }

      .joinBtn {
        margin-left: 10px;
        color: gray;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          font-weight: 700;
          color: #fe6d6a;
        }
      }
    }
  }
}
